.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
  cursor: pointer;
}

.menu-area {
  display: flex;
  justify-content: center;
  position: relative;
}

.search {
  display: flex;
  position: absolute;
  align-items: center;
  right: 20px;
  margin-top: 25px;
  color: crimson;
}

.search input {
  border: none;
  border-bottom: 2px solid pink;
  outline: none;
  margin-left: 10px;
  font-size: 16px;
}

.card {
  border: none !important;
  margin-bottom: 10px;
}

.choice {
  font-size: 12px;
  color: rgb(255, 0, 238);
  font-weight: bold;
  height: 20px;
}

.new {
  font-size: 11px;
  height: 20px;
  color: blue;
  /* 우하단, 좌상단, 우상단, 좌하단 */
  text-shadow: 1px 1px 2px yellow, -1px -1px 2px yellow, 1px -1px 2px yellow,
    -1px 1px 2px yellow;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.product-img {
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.dropdown {
  margin-top: 10px;
}

.add-button {
  background-color: red;
  color: yellow;
  width: 300px;
  margin-top: 10px;
  border: 2px solid pink;
}

.pre-button {
  background-color: lightgray;
  color: rgb(103, 47, 234);
  width: 300px;
  margin-top: 10px;
  border: 2px solid rgb(175, 168, 168);
}

.blink {
  animation: blink-animation 0.5s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50px;
    width: 50%;
    background-color: rgb(245, 200, 87);
    padding: 10px 0;
    color: rgb(123, 9, 9);
    z-index: 1000;
  }

  .menu-list.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
  }

  .search {
    position: relative;
    margin-top: 10px;
  }
}
